// TRANSITIONS 

/* CSS Transitions have 4 components:

- A property that will transition.
- The duration which describes how long the transition takes.
- The delay to pause before the transition will take place.
- The timing function that describes the transition’s acceleration. */



// 1. transition-duration 
a {
    transition-property: color; // Property we want to transition
    transition-duration: 1s; //The duration of the transition
}


// 2. transition-timing-function -  Describes the pace of the transition 
a {
    transition-property: color; 
    transition-duration: 1s; 
    transition-timing-function: ease; // default - starts slowly, speeds up in the middle, slows down again at the end
    transition-timing-function: ease-in; // starts slow, accelerates quickly, stops abruptly 
    transition-timing-function: ease-out;  // begins abruptly, slows down, and ends slowly
    transition-timing-function: ease-in-out;  // starts slow, gets fast in the middle, and ends slowly
    transition-timing-function: linear;  // constant speed throughout
}


// 3. transition-delay -  pecifies the time to wait before starting the transition
a {
    transition-property: width;
    transition-duration: 0.5s;
    transition-delay: 0.2s; 
}


// 4. transition -  shorthand for the 3 properties above 
a {
    transition: color 1.5s linear 0.5s; // transition-property, transition-duration, transition-timing-function, transition-delay.
}


// 5. Combinations - describe unique transitions for multiple properties, and combine them. 

a { // This code transtitions 2 properties at once. 
    transition: color 1s linear,   //The text color transitions over 1s with linear timing and no delay
                font-size 0.5s ease-in 0,1s;   // the font size transitions over 0.5s with an ease-in timing and a 0.1s delay. 
}


// 6. All - use the same duration, timing function, and delay for multiple properties. you can use all as a value for transition-property
a {
    transition: all 1s linear 0.5s;  //any changes will take place over 1s linear and o.5s delay. 
}


