<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="System Mail" /> 
    
    <title>Mail</title>

   <link href="./styles.css">
  
    
    <style>
    
      @media (min-width: 471px) {
      .strong {
        font-weight: 700;
      }
      }
      @media (max-width: 470px) {
      .timer_days{
        width: 100% !important;
      }
      .timer_no_days{
        width: 95% !important;
      }
      .strong {
        font-weight: 700;
      }
      }
    </style>
    <!--EXTRA STYLES: END -->
    
  </head>
  
  
  
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" width="100%" class="bg_color_white" style="-webkit-text-size-adjust: none; padding: 0; width: 100% !important; background-color: white;">
  

    <center  style="width: 100%; background-color: white;">

      <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 800px; background-color: gray;">
        <tr>
          <td>
            <!-- EMAIL BODY : START -->
            <table  cellspacing="0" cellpadding="0" border="0" align="center" width="520"  style="max-width: 520px; text-align: center;  background-color: gray;">
            
        
              <!-- SECTION 2: Hero block with image - START -->
              <tr>
                <td class="section_mobile_margin" style="padding-bottom: 24px;">
                  <table cellspacing="0" cellpadding="0" border="0" width="520" style="padding: 0px 0px 24px 0px; background-color: white;">
                
                    <!-- Lower part of the block: START -->
                    <tr>
                      <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="padding: 24px 24px 0px 24px;"  class="lower_section">
                           <!-- Title: START -->
                          <tr>
                            <td style="font-family: Tahoma, Helvetica, Arial, sans-serif; color: #121117; font-weight: 700; padding-bottom: 12px;" class="text_align_center background_red">
                              <p>
                              {{student_name}} booked a lesson
                              </p>
                            </td>
                          </tr>
                          <!-- Title: END -->
                      
                          
                          <!-- Paragraph: START -->
                          <tr>
                            <td style="font-family: Tahoma, Helvetica, Arial, sans-serif;  padding-bottom: 0px; text-align: left;" class="text_align_left">
                              <p style="margin-bottom: 5px;" class="testColor">
                               We've got your message, and it's in our queue. We understand it's important, and we'll do our best to get back to you as soon as we can. We really appreciate your patience while we look into it.
                              </p>
                            </td>
                          </tr>
                          <!-- Paragraph: END -->
                          
                            <!-- Paragraph: START -->
                          <tr>
                            <td style="font-family: Tahoma, Helvetica, Arial, sans-serif; color: #121117; padding-bottom: 0px; text-align: left;" class="text_align_left">
                              <p style="margin-bottom: 5px;">
                              In the meantime, feel free to check out our Help Center or use our automated chat for quick solutions.
                              </p>
                            </td>
                          </tr>
                          <!-- Paragraph: END -->
                          
                           <!-- Paragraph: START -->
                          <tr>
                            <td style="font-family: Tahoma, Helvetica, Arial, sans-serif; color: #121117; padding-bottom: 0px; text-align: left;" class="text_align_left">
                              <p style="margin-bottom: 5px;">
                             We're here to help and will be in touch shortly.
                              </p>
                            </td>
                          </tr>
                          <!-- Paragraph: END -->
                           <!-- Paragraph: START -->
                          <tr>
                            <td style="font-family: Tahoma, Helvetica, Arial, sans-serif; color: #121117; padding-bottom: 0px; text-align: left;" class="text_align_left">
                              <p class="text text_400 text_color_grey900" style="margin-bottom: 5px;">
                              Best,
                              </p>
                            </td>
                          </tr>
                          <!-- Paragraph: END -->
                          <!-- Paragraph: START -->
                          <tr>
                            <td style="font-family: Tahoma, Helvetica, Arial, sans-serif; color: #121117; padding-bottom: 16px; text-align: left" class="text_align_left">
                              <p style="display: inline-block;">
                               Preply Support Team
                              </p>
                              <img src="https://cdn.braze.eu/appboy/communication/assets/image_assets/images/6538cfbc586e0a2084c39c22/original.png?1698222012" width="30px" style="vertical-align: middle;">
                            </td>
                          </tr>
                          <!-- Paragraph: END -->
                         
                        </table>
                      </td>
                    </tr>
                    <!-- Lower part of the block: END -->
                  </table>
                </td>
              </tr>
              <!-- SECTION 2: Hero block with image - END -->
              
    
              
            </table>
            <!-- EMAIL BODY: END -->
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>