@mixin important-text {  
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
}
@mixin title-style ($color, $background-color, $font-size) {
    color: $color;
    background-color: $background-color; 
    font-size: $font-size;
}
@mixin header-style ($color: rgb(250, 250, 250), $background-color: rgb(124, 34, 49), $font-family: Tahoma) {
    color: $color;
    background-color: $background-color;
    font-family: $font-family;
}


.danger {
    @include important-text();
    background-color: green;
}
h2 {
    @include title-style(blue, black, 2em);
}

header {
    @include header-style($font-family: sans-serif);
}
